.header{
    display: flex;
    background-color: unset;
    flex: 0 0 100%;
    height: 60px;
}

.header-child{
    display: inline-flex;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.flex-0-0-83{
    flex: 0 0 83%;
}

.logout-div{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-top: 15px;
}

.logout-btn{
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px !important;
    padding: 5px;
    height: 20px;
}

.logout-btn:hover{
    color: #e1e4e8;
    border: 1px solid #e1e4e8;
}

.sidebar{
    display: flex;
    background-color: bisque;
    flex: 0 0 10%;
}
