html{
    width: 100%;
    height: 100%;
    display: flex;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;

}

.main-page{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.inputs_and_btns{
    border-radius: 10px;
    outline: 0 !important;
    padding: 5px;
}



